
@media screen and (max-width:1024px) {
	
	.menubar
	{
		margin-top: 5px;
	}
	
	.menubar .menulinks1 .dmenu
	{
		top:60px;
	}


#homeCarousel .carousel-caption {
    top: 5%;
    left: 5%;
    width: 90%;
}

#homeCarousel .carousel-caption .heading h1
{
	font-size: 38px;
}

#homeCarousel .carousel-caption p {   
    margin: 10px 0;
}

#homeCarousel .carousel-caption .clist > li
{
	margin-bottom: 5px;
	font-size: 20px;
}

#homeCarousel .carousel-caption .clist {
	margin-top: 10px;
}
#homeCarousel .carousel-caption .morelinksbbox {
	margin-top: 20px;
}

.msgbox:hover {
    transform: scale(1.1);
}
.messages_wrap .btright
{
	padding-right: 15px;
}

.msg_desc .mtitle {
 
    font-size: 25px;
	margin-bottom:5px;
}
.msg_desc p {	
	font-size: 14px;
	line-height: normal;
}

.home_invite_box .heading h3, .getstarted_wrap .heading h3, .whyus_wrap .heading h5, .banner-wrap .heading h1
{
	font-size: 32px;
}
.home_invite_box p {
	font-size: 25px;
}

.quote_wrap .quote_box
{
	font-size:32px;
}


}


@media screen and (max-width:991px) {
	header
	{
		padding-top:5px;
		padding-bottom:5px;
	}
	
	.menubar {
	margin-top: 20px;
}
.menubar .menulinks1 .dmenu {
    top: 70px;
}
.menubar .menulinks1 > li > a
{
	padding: 15px 10px;
}

#homeCarousel .carousel-caption
{
	top:0;
}

#homeCarousel .carousel-caption p
{
	font-size:20px;
}

#homeCarousel .carousel-caption .heading h1 {
    font-size: 30px;
}

#homeCarousel .carousel-caption .clist > li {
	margin-bottom: 5px;
	font-size: 16px;
}

#homeCarousel .carousel-caption .clist > li::before {
	font-size: 14px;
	top: 1px;
	color: #0d1172;
}
#homeCarousel .carousel-indicators {
	
	bottom: 15%;
	
}
.messages_wrap .left_side, .messages_wrap .right_side {
	padding-left: 15px;
	padding-right: 15px;
}
.messages_wrap .btleft {
	padding-right: 15px;
}
.messages_wrap .btright {
	padding-left: 15px;
	padding-right: 15px;
}
.messages_wrap .msgbox {
	margin-top: 0;
	margin-bottom: 1px;
}

.messages_wrap .msgbox:hover {
    transform: scale(1.05);
}
.pmsgbox {
	
	margin-bottom: 10px;
}

.about_wrap .abt_box
{
	margin-bottom:15px;
}


.whyus_wrap .whybox
{
	margin-bottom:75px;
}

.whyus_wrap .why_last
{
	margin-bottom:0;
}

.proflist > li
{
	width:50%;
}
.home_menu_links {
	text-align: center;	
}


}

@media screen and (max-width:767px) {
.logo {
	width: 80%;
	float: left;
	margin-top: 0;
}
.homelogo {
	width: 80%;
	float: left;
	margin-top: 0;
}

.resp-div {
	width: 20%;
	float: right;
	margin-top: 15px;
}
.menubar {
	min-height: auto;
	margin-top: 5px;
}
.menubar .mbar {
	padding-left: 15px;
	padding-right: 15px;
}
.menubar .mbar .navbar-collapse {
	padding-left: 15px;
}

.menubar .menulinks1 > li > a {
    padding:10px 15px;
}
.menubar .menulinks2 {
	margin-top: 0;
}
.menubar .menulinks2 > li > a {
	margin-left: 0;
}
.menubar .menulinks1 .dmenu {
	left: 0;
	text-align: left;
	transform: translate(0%, 0);
	margin-left: 15px;
}
.menubar .menulinks1 .dmenu::before {
	display: none;
}

.messages_wrap, .public_msg_wrap, .home_invite_wrap, .testmsg_wrap, .getstarted_wrap, .about_wrap, .whyus_wrap, .quote_wrap
{
	padding-top:40px;
	padding-bottom:40px;
}
.messages_wrap .left_side .msgbox {
	margin-top: 0;
	margin-bottom: 5px;
}
.messages_wrap .btright .msgbox
{
	margin-top:5px;
}
.messages_wrap .msgbox:hover {
   
    transform: scale(1.02);
}
.testmsg_wrap .testmsg_box {
	padding-top: 0;
	padding-bottom: 0;
}

footer
{
	padding-top: 20px;
padding-bottom: 20px;
}
.fbox .ftitle {	
	float: none;
	margin-right: 0;
	text-align: center;
	font-size: 32px;
}
.fbox .socialist
{
	float:none;
}
.quote_box
{
	margin-top:0;
}

.banner-wrap .heading h1
{
	font-size:26px;
}

.homemenurow .tctrl
{
	width:100%;
}

.home_menu_links {
	text-align: center;
	margin-top: 10px;	
}
.prof_menu_links > li {
	float: none;
}
.prof_menu_links .psmenu {
	left: 0;
	text-align: left;
	transform: translate(0%, 0);
	margin-left: 15px;
}
.pmenu_box .psmenu > li > a
{
	text-align:center;
	color:#0d1172;
}
.pmenu_box .psmenu > li > a:hover
{
	background-color:#0d1172;
	color:#fff;
}
.prof_menu_links .psmenu::before {
	display: none;
}

.proflist > li
{
	width:100%;
	padding: 10px;
}

.profilemenu_box .profile_pic {
	float: none;
	width: 100%;
	display: table;	
}

.profile_pic img
{
	margin:auto;
}
.profilemenu_box {
	text-align: center;
}


.profilemenu_box .pmenu_box {
	float: none;
	margin-right: 10px;
	min-width: auto;
}

.pmenu_box .profile_prgrs .pvalue {
	position: relative;
	left: 0;
	top: 0;
	text-align: center;
	display: table;
	margin: auto;
}



}

@media screen and (max-width:576px) {
	.copywrap .tctrl
	{
		text-align:center;
		width:100%;
	}
	.cplinks
	{
		text-align:center;
	}
	
	.fbox .ftitle, .home_invite_box .heading h3, .getstarted_wrap .heading h3
	{
		font-size:28px;
	}
	
	.home_invite_box p, .testmsg_wrap .testmsg_box .per_msg {
	font-size: 20px;
}

.test_per_cntdtls p {
	
	font-size: 20px;
	
}

.msg_desc
{
	top:15%;
}

.socialist > li > a {
	width: 40px;
	height:40px;
	background-color: #fff;
	line-height:40px;
	display: block;
	text-align: center;
	color: #0d1172;
	font-size: 20px;
	border-radius: 50%;
}

.banner-wrap .heading h1
{
	font-size:20px;
}
}
